{%- comment -%}
  Parameters:
  - results {Object} - Results object (collection or search).
  - custom-filters {Object} - Custom filters (collection or search).

  Usage:
  {% render 'products-toolbar', results: collection %}
{%- endcomment -%}
<script>console.log({{ custom-filters | json }})</script>
{%- liquid
  assign sort_or_filters_visible = false
  if section.settings.enable_filtering or section.settings.enable_sorting
    assign sort_or_filters_visible = true
  endif
%}
<products-toolbar class="products-toolbar flex items-center mb-8{% if settings.enable_compare and settings.compare_toggle != "none" %} products-toolbar--compare{% if section.settings.show_layout_toggle and sort_or_filters_visible %} products-toolbar--compare-shift-xs mt-16{% endif %}{% endif %} no-js-hidden" id="products-toolbar">
  {%- if section.settings.enable_filtering -%}
    <div class="products-toolbar__filter">
      <button type="button" class="custom-filter-btn products-toolbar__filter-btn flex justify-between items-center text-current font-bold {% if section.settings.filters_open_lg %}is-active {% endif %}js-toggle-filters" aria-controls="facet-filters" aria-expanded="false">
        <span class="hidden md:block">{{ 'products.filtering.filter' | t }}</span>
        {%- if section.settings.enable_sorting -%}
          <span class="md:hidden">{{ 'products.filtering.filter_sort' | t }}</span>
        {%- else -%}
          <span class="md:hidden">{{ 'products.filtering.filter' | t }}</span>
        {%- endif -%}
        {% render 'icon-filter' %}
      </button>
    </div>
  {%- endif -%}

  {%- if section.settings.enable_sorting -%}
    <div class="products-toolbar__sort{% if section.settings.enable_filtering %} hidden md:block{% endif %}">
      {%- liquid
        assign sort_by = results.sort_by | default: results.default_sort_by
        assign option_names = ''
        assign option_values = ''
        for option in results.sort_options
          unless option.value == 'manual' and section.settings.show_feat_sort_opt == false
            assign option_names = option_names | append: option.name
            assign option_values = option_values | append: option.value
            unless forloop.last
              assign option_names = option_names | append: '|'
              assign option_values = option_values | append: '|'
            endunless
          endunless
        endfor
        assign option_names = option_names | split: '|'
        assign option_values = option_values | split: '|'
        assign label = 'products.sorting.sort_by_label' | t
      -%}

      {% render 'custom-select',
        id: 'products-sort-by',
        label: label,
        native_name: 'sort_by',
        native_form_id: 'facets',
        selected_value: sort_by,
        option_names: option_names,
        option_values: option_values
      %}
    </div>
    <script src="{{ 'custom-select.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  <!-- section.settings.enabled_custom_filter -->
  {% if true %}
    <div class="hide-filter-on-mobile">
      <div id="custom__filters">
        <form id="custom_form__filters">
        {% for filter in results.filters %}
          {% assign index = forloop.index %}
          {% if filter.label == 'Arch support - height' %}
            {% assign showFilter = true %}
          {% elsif filter.label == 'Arch support - hardness' %}
            {% assign showFilter = true %}
            {% assign customPosition = true %}
          {% elsif filter.label == 'Medical reasons: symptoms & conditions' %}
            {% assign showFilter = true %}
            {% assign customPosition = true %}
          {% elsif filter.label == "Person's weight" %}
            {% assign showFilter = true %}
            {% assign customPosition = true %}

          {% else %}
            {% assign showFilter = false %}
            {% assign customPosition = false %}
          {% endif %}

          {% if showFilter %}

            <details-disclosure data-custom="true" >
              <details class="disclosure show-desktop" data-custom="{{ index }}" {% if section.settings.expand_filters %} open{% endif %}>
                <summary class="filter__toggle" data-customSum="true" data-customId="{{ forloop.index }}">
                  <div class="flex justify-start items-center">
                    <span class="custom-filter-text flex-auto font-bold">{{ filter.label | escape }}</span>
                    <span class="custom-filter-icon disclosure__toggle">
                            {%- if settings.disclosure_toggle == 'plus' -%}
                              {% render 'icon-plus' %}
                            {%- else -%}
                              {% render 'icon-chevron-down' %}
                            {%- endif -%}
                          </span>
                  </div>
                </summary>
                <div class="disclosure__panel has-motion">
                  <div class="disclosure__content">
                    <div class="filter__content">
                      {%- case filter.type -%}

                        {%- when 'boolean' or 'list' -%}
                          <ul role="list"{% if swatches %} class="filter__swatches"{% endif %}{% if customPosition %} class="custom-order custom-toolbar-filter-{{ forloop.index }}" {% endif %}>
                            {%- for value in filter.values -%}

                              {%- if value.count > 0 or section.settings.show_filter_deadends -%}
                                {%- assign selectable_filter_count = selectable_filter_count | plus: 1 -%}
                                <li{% if selectable_filter_count > section.settings.max_filter_options %}{% endif %}>
                                  <input type="checkbox"
                                         class="{% unless swatches %}checkbox {% endunless %}visually-hidden focus-label-before"
                                         id="filter-{{ filter.param_name | escape }}-{{ forloop.index }}"
                                         data-id="{{ forloop.index }}"
                                         data-custom="{{ index }}"
                                         name="{{ value.param_name }}"
                                         value="{{ value.value | escape }}"
                                         {% if value.active %}checked{% endif %}
                                    {% if value.count == 0 and value.active == false %}disabled{% endif %}>
                                  <label for="filter-{{ filter.param_name | escape }}-{{ forloop.index }}"
                                         class="filter__label flex items-start w-full m-0"
                                  {%- if swatches %} data-swatch="{{ value.label | replace: '"', '' | downcase }}"{% endif %}>
                                    <span class="flex-auto">{{ value.label | escape }}</span>
                                    {% if section.settings.show_filter_counts -%}
                                      <span class="filter__count">({{ value.count }})</span>
                                    {%- endif -%}
                                  </label>
                                </li>
                              {%- endif -%}
                            {%- endfor -%}
                          </ul>
                      {%- endcase -%}
                    </div>
                    <div class="flex relative items-center mt-6">
                      {%- if selectable_filter_count > section.settings.max_filter_options -%}
                        <button type="button" class="filter__more link text-current text-sm js-show-more">
                          {{- 'products.filtering.show_more' | t -}}
                        </button>
                      {%- endif -%}

                      <div class="filter__header">
                        <a href="{{ filter.url_to_remove }}" class="link text-current text-sm js-clear-filter"{% if has_active_filters == false %} hidden{% endif %}>
                          {{- 'products.filtering.clear' | t -}}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </details>
            </details-disclosure>
          {% endif %}
        {% endfor %}
        </form>
      </div>
    </div>
  {% endif %}

  {%- if settings.enable_compare and settings.compare_toggle != "none" -%}
    <div class="products-toolbar__compare end">
      <input type="checkbox" class="switch" id="compare-switch" {% if settings.compare_toggle == "toggle_on" %}checked="checked"{% endif %}>
      <label for="compare-switch">{{ 'products.compare.switch_label' | t }}</label>
    </div>
  {%- endif -%}

  {%- if section.settings.show_layout_toggle -%}
    <div class="products-toolbar__layout flex items-center mis-auto">
      <span class="label label--inline">{{ 'sections.collection.layout_label' | t }}</span>
      <input type="radio" class="focus-label visually-hidden" name="products-layout" id="list-layout-opt" value="list">
      <label for="list-layout-opt" class="tap-target">
        <span class="visually-hidden">{{ 'sections.collection.list_layout' | t }}</span>
        {% render 'icon-list' %}
      </label>
      <input type="radio" class="focus-label visually-hidden" name="products-layout" id="grid-layout-opt" value="grid" checked>
      <label for="grid-layout-opt" class="tap-target">
        <span class="visually-hidden">{{ 'sections.collection.grid_layout' | t }}</span>
        {% render 'icon-grid' %}
      </label>
    </div>
  {%- endif -%}
</products-toolbar>

<hr class="js-hidden">
