{{ 'main.css' | asset_url | stylesheet_tag }}
{{ 'custom-product-day.css' | asset_url | stylesheet_tag }}

<div class="product-day">
    <div class="container">
        <div class="product-day__inner">
            <div class="product-day__inner--card" id="dailyProductContainer">
                {% assign productHandles = "black-model,mount-strenght,flame-boost,core-energy,black-onix" | split: ',' %}

                {% for handle in productHandles %}
                    {% assign product = all_products[handle] %}
                    {% if product %}
                        <div class="product-item" data-handle="{{ handle }}" style="display: none;">
                            <div class="product-item__image">
                                <a href="{{ product.url }}">
                                    <img src="{{ product.featured_image.src | img_url: 'large' }}"
                                         alt="{{ product.title }}">
                                </a>
                            </div>
                            <div class="product-item__content">
                                <div class="product-item__content--info">

                                    <h2>{{ product.title }}</h2>
                                </div>
                                <div class="product-item__content--price">
                                    <h2>{{ product.price | money }} USD</h2>
                                    <span>
                                        <del>{{ product.compare_at_price | money }}</del>
                                    </span>
                                </div>
                                <div class="product-item__content--divider divider"></div>
                                <div class="product-info__advantages">
                                    <ul>
                                        <li>
                                            <p>
                                                {{ "✔  Arch Support" | escape }}
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                {{ "✔  Over 800+ rave reviews" | escape }}
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                {{ "✔  Easy to Adjust" | escape }}
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-item__content--size">
                                    <label for="variant-picker-{{ handle }}">Size:</label>
                                    <div class="size-buttons">
                                        {% for variant in product.variants %}
                                            <button type="button" class="size-button opt-label opt-label--btn btn{% if forloop.first %} size-button--active{% endif %}" data-variant-id="{{ variant.id }}">
                                                {{ variant.title }}
                                            </button>
                                        {% endfor %}
                                    </div>
                                    <input type="hidden" id="selected-variant" name="selected-variant" value="{{ product.variants.first.id }}">
                                </div>
                                <div class="product-item__content--btn">
                                    <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form" id="product-form-{{ product.variants.first.id }}">
                                        <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                                        <button type="submit" class="btn">Add to Cart</button>
                                    </form>
                                </div>
                                <div class="buy-info">
                                    <div class="buy-info__title">
                                        <p>Available payment methods</p>
                                    </div>
                                    <div class="buy-info__card">
                                        <ul>
                                            <li>
                                                <img
                                                        src="https://cdn.shopify.com/s/files/1/0308/2020/4588/files/apppayy.svg?v=1700480421"
                                                        alt="apple" width="38" height="30" loading="lazy">
                                            </li>
                                            <li>
                                                <img
                                                        src="https://cdn.shopify.com/s/files/1/0308/2020/4588/files/visavisa.svg?v=1700480509"
                                                        alt="visa"  width="38" height="30" loading="lazy">
                                            </li>
                                            <li>
                                                <img
                                                        src="https://cdn.shopify.com/s/files/1/0308/2020/4588/files/masterc.svg?v=1700480421"
                                                        alt="master-card"  width="35" height="35" loading="lazy">
                                            </li>
                                            <li>
                                                <img
                                                        src="https://cdn.shopify.com/s/files/1/0308/2020/4588/files/amere.svg?v=1700480421"
                                                        alt="american-express"  width="35" height="35" loading="lazy">
                                            </li>
                                            <li>
                                                <svg class="icon icon--full-color" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" width="38" height="30" role="img" aria-labelledby="pi-paypal"><title id="pi-paypal">PayPal</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path fill="#003087" d="M23.9 8.3c.2-1 0-1.7-.6-2.3-.6-.7-1.7-1-3.1-1h-4.1c-.3 0-.5.2-.6.5L14 15.6c0 .2.1.4.3.4H17l.4-3.4 1.8-2.2 4.7-2.1z"></path><path fill="#3086C8" d="M23.9 8.3l-.2.2c-.5 2.8-2.2 3.8-4.6 3.8H18c-.3 0-.5.2-.6.5l-.6 3.9-.2 1c0 .2.1.4.3.4H19c.3 0 .5-.2.5-.4v-.1l.4-2.4v-.1c0-.2.3-.4.5-.4h.3c2.1 0 3.7-.8 4.1-3.2.2-1 .1-1.8-.4-2.4-.1-.5-.3-.7-.5-.8z"></path><path fill="#012169" d="M23.3 8.1c-.1-.1-.2-.1-.3-.1-.1 0-.2 0-.3-.1-.3-.1-.7-.1-1.1-.1h-3c-.1 0-.2 0-.2.1-.2.1-.3.2-.3.4l-.7 4.4v.1c0-.3.3-.5.6-.5h1.3c2.5 0 4.1-1 4.6-3.8v-.2c-.1-.1-.3-.2-.5-.2h-.1z"></path></svg>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% schema %}
{
  "name": "Custom Product Day",
  "settings": [
  ],
  "presets": [
    {
      "name": "Custom Product Day",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const productItems = document.querySelectorAll('.product-item');
        let currentProductIndex = parseInt(localStorage.getItem('currentProductIndex')) || 0;

        function loadDailyProduct() {
            const lastChangeTimestamp = localStorage.getItem('lastChangeTimestamp') || 0;
            const currentTimestamp = Math.floor(Date.now() / 1000);


            if (currentTimestamp > parseInt(lastChangeTimestamp) + 24 * 60 * 60) {
                currentProductIndex = (currentProductIndex + 1) % productItems.length;
                localStorage.setItem('lastChangeTimestamp', currentTimestamp);
                localStorage.setItem('currentProductIndex', currentProductIndex);
            }

            productItems.forEach(item => {
                item.style.display = 'none';
            });
            const productToShow = productItems[currentProductIndex];
            productToShow.style.display = 'flex';
        }

        function addToCart(variantId) {
            console.log('Adding variant to cart:', variantId);
        }

        loadDailyProduct();

        setInterval(loadDailyProduct, 24 * 60 * 60 * 1000);
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const sizeButtons = document.querySelectorAll('.size-button');
        const selectedVariantInput = document.getElementById('selected-variant');

        sizeButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                const variantId = button.getAttribute('data-variant-id');
                selectedVariantInput.value = variantId;

                sizeButtons.forEach(function (btn) {
                    btn.classList.remove('selected');
                });
                button.classList.add('selected');

                const variant = {{ product.variants | where: "id", variantId | first | json }};
                document.getElementById('product-price').innerText = variant.price | money;
            });
        });
    });

</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const sizeButtons = document.querySelectorAll('.size-button');

        sizeButtons[0].classList.add('size-button--active');

        sizeButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                const clickedVariantId = button.getAttribute('data-variant-id');

                sizeButtons.forEach(function (btn) {
                    btn.classList.remove('size-button--active');
                });

                button.classList.add('size-button--active');
            });
        });
    });

</script>