{{ 'custom-reviews.css' | asset_url | stylesheet_tag }}
{{ 'main.css' | asset_url | stylesheet_tag }}

{% assign num = section.settings.rating_amount %}
{% assign range = (1..num) %}


<div class="reviews">
    <div class="container">
        <div class="slider-container">
            <div class="reviews-inner slides-container">
                <ul class="slides">
                    {% for block in section.blocks %}
                        <div class="reviews-inner__item slide">
                            <div class="reviews-box">
                                <div class="reviews-box__image">
                                    {% if block.settings.media_type == 'image' %}
                                        <img width="200" height="200"
                                             src="{{ block.settings.review_image | img_url: 'master' }}" alt="review-image"
                                             loading="lazy">
                                    {% elsif block.settings.media_type == 'video' %}
                                        <div class="reviews-box__video">
                                            {{ block.settings.review_video | media_tag }}
                                        </div>
                                    {% endif %}
                                    <div class="reviews-box__image--rating">
                                        <ul>
                                            {% for i in (1..block.settings.rating_amount) %}
                                                <li>
                                                    <img width="20" height="20"
                                                         src="{{ section.settings.rating_star | img_url: 'master' }}"
                                                         alt="rating" loading="lazy">
                                                </li>
                                            {% endfor %}
                                            {% if block.settings.rating_amount == '4.5' %}
                                                <li>
                                                    <img width="20" height="20"
                                                         src="{{ section.settings.rating_star_half | img_url: 'master' }}"
                                                         alt="rating" loading="lazy">
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="reviews-box__content">
                                    <div class="reviews-box__content--author">
                                        <h2>{{ block.settings.review_person_name }}</h2>
                                    </div>
                                    <div class="reviews-box__content--review">
                                        <p>{{ block.settings.review_content }}</p>
                                    </div>
                                    <div class="reviews-box__content--helpfu__box">
                                        <div class="reviews-box__content--helpful">
                                            <h2 id="reviews-box__content--helpful__number">
                                                {{  block.settings.review_number }}<span style="font-weight:400 !important; font-family: initial;text-transform: lowercase;" class="reviews-box__content--helpful__text">People Find This Helpful</span>
                                            </h2>
                                        </div>
                                        <div class="reviews-box__content--helpful__btn">
                                            <span id="reviews-box__content--helpful__btn-plus">
                                              <img width="20" height="20" src="https://cdn.shopify.com/s/files/1/0612/1177/1120/files/like.png?v=1709023862" loading="lazy">
                                            </span>
                                            <span id="reviews-box__content--helpful__btn-minus">
                                              <img width="20" height="20" src="https://cdn.shopify.com/s/files/1/0612/1177/1120/files/dislike.png?v=1709023862" loading="lazy">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
            <button class="prev-btn" onclick="prevSlide()">
                <img width="25" height="25" src="https://cdn.shopify.com/s/files/1/0612/1177/1120/files/left-arrow-7356.png?v=1707808153" alt="prev" loading="lazy">
            </button>
            <button class="next-btn" onclick="nextSlide()">
                <img width="25" height="25" src="https://cdn.shopify.com/s/files/1/0612/1177/1120/files/right-arrow-7355.png?v=1707808153" alt="prev" loading="lazy">
            </button>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Custom Reviews",
    "settings": [
        {
            "type": "image_picker",
            "label": "Star image",
            "id": "rating_star",
            "info": "Select star image"
        },
        {
            "type": "image_picker",
            "label": "Star image (Half)",
            "id": "rating_star_half",
            "info": "Select star image half"
        },
        {
            "type": "image_picker",
            "label": "Card[1] Star(3)",
            "id": "reviews_card1_star3",
            "info": "Select star 3"
        },
        {
            "type": "image_picker",
            "label": "Card[1] Star(4)",
            "id": "reviews_card1_star4",
            "info": "Select star 4"
        },
        {
            "type": "image_picker",
            "label": "Card[1] Star(5)",
            "id": "reviews_card1_star5",
            "info": "Select star 5"
        },
        {
            "type": "text",
            "label": "Card[1] Author(1)",
            "id": "reviews_author_1",
            "default": "Change name"
        },
        {
            "type": "text",
            "label": "Card[1] Content(1)",
            "id": "reviews_content_1",
            "default": "Change content"
        },
        {
            "type": "text",
            "label": "Card[1] Number(1)",
            "id": "reviews_number_1",
            "default": "Change number"
        },
        {
            "type": "image_picker",
            "label": "Card[2] Photo(2)",
            "id": "reviews_photo_2",
            "info": "Select photo 2"
        },
        {
            "type": "image_picker",
            "label": "Card[2] Star(1)",
            "id": "reviews_card2_star1",
            "info": "Select star 1"
        },
        {
            "type": "image_picker",
            "label": "Card[2] Star(2)",
            "id": "reviews_card2_star2",
            "info": "Select star 2"
        },
        {
            "type": "image_picker",
            "label": "Card[2] Star(3)",
            "id": "reviews_card2_star3",
            "info": "Select star 3"
        },
        {
            "type": "image_picker",
            "label": "Card[2] Star(4)",
            "id": "reviews_card2_star4",
            "info": "Select star 4"
        },
        {
            "type": "image_picker",
            "label": "Card[2] Star(5)",
            "id": "reviews_card2_star5",
            "info": "Select star 5"
        },
        {
            "type": "text",
            "label": "Card[2] Author(2)",
            "id": "reviews_author_2",
            "default": "Change name"
        },
        {
            "type": "text",
            "label": "Card[2] Content(2)",
            "id": "reviews_content_2",
            "default": "Change content"
        },
        {
            "type": "text",
            "label": "Card[2] Number(2)",
            "id": "reviews_number_2",
            "default": "Change number"
        },
        {
            "type": "image_picker",
            "label": "Card[3] Photo(3)",
            "id": "reviews_photo_3",
            "info": "Select photo 3"
        },
        {
            "type": "image_picker",
            "label": "Card[3] Star(1)",
            "id": "reviews_card3_star1",
            "info": "Select star 1"
        },
        {
            "type": "image_picker",
            "label": "Card[3] Star(2)",
            "id": "reviews_card3_star2",
            "info": "Select star 2"
        },
        {
            "type": "image_picker",
            "label": "Card[3] Star(3)",
            "id": "reviews_card3_star3",
            "info": "Select star 3"
        },
        {
            "type": "image_picker",
            "label": "Card[3] Star(4)",
            "id": "reviews_card3_star4",
            "info": "Select star 4"
        },
        {
            "type": "image_picker",
            "label": "Card[3] Star(5)",
            "id": "reviews_card3_star5",
            "info": "Select star 5"
        },
        {
            "type": "text",
            "label": "Card[3] Author(3)",
            "id": "reviews_author_3",
            "default": "Change name"
        },
        {
            "type": "text",
            "label": "Card[3] Content(3)",
            "id": "reviews_content_3",
            "default": "Change content"
        },
        {
            "type": "text",
            "label": "Card[3] Number(3)",
            "id": "reviews_number_3",
            "default": "Change number"
        },
        {
            "type": "image_picker",
            "label": "Card[4] Photo(4)",
            "id": "reviews_photo_4",
            "info": "Select photo 4"
        },
        {
            "type": "image_picker",
            "label": "Card[4] Star(1)",
            "id": "reviews_card4_star1",
            "info": "Select star 1"
        },
        {
            "type": "image_picker",
            "label": "Card[4] Star(2)",
            "id": "reviews_card4_star2",
            "info": "Select star 2"
        },
        {
            "type": "image_picker",
            "label": "Card[4] Star(3)",
            "id": "reviews_card4_star3",
            "info": "Select star 3"
        },
        {
            "type": "image_picker",
            "label": "Card[4] Star(4)",
            "id": "reviews_card4_star4",
            "info": "Select star 4"
        },
        {
            "type": "image_picker",
            "label": "Card[4] Star(5)",
            "id": "reviews_card4_star5",
            "info": "Select star 5"
        },
        {
            "type": "text",
            "label": "Card[4] Author(4)",
            "id": "reviews_author_4",
            "default": "Change name"
        },
        {
            "type": "text",
            "label": "Card[4] Content(4)",
            "id": "reviews_content_4",
            "default": "Change content"
        },
        {
            "type": "text",
            "label": "Card[4] Number(4)",
            "id": "reviews_number_4",
            "default": "Change number"
        },
        {
            "type": "image_picker",
            "label": "Card[5] Photo(5)",
            "id": "reviews_photo_5",
            "info": "Select photo 5"
        },
        {
            "type": "image_picker",
            "label": "Card[5] Star(1)",
            "id": "reviews_card5_star1",
            "info": "Select star 1"
        },
        {
            "type": "image_picker",
            "label": "Card[5] Star(2)",
            "id": "reviews_card5_star2",
            "info": "Select star 2"
        },
        {
            "type": "image_picker",
            "label": "Card[5] Star(3)",
            "id": "reviews_card5_star3",
            "info": "Select star 3"
        },
        {
            "type": "image_picker",
            "label": "Card[5] Star(4)",
            "id": "reviews_card5_star4",
            "info": "Select star 4"
        },
        {
            "type": "image_picker",
            "label": "Card[5] Star(5)",
            "id": "reviews_card5_star5",
            "info": "Select star 5"
        },
        {
            "type": "text",
            "label": "Card[5] Author(5)",
            "id": "reviews_author_5",
            "default": "Change name"
        },
        {
            "type": "text",
            "label": "Card[5] Content(5)",
            "id": "reviews_content_5",
            "default": "Change content"
        },
        {
            "type": "text",
            "label": "Card[5] Number(5)",
            "id": "reviews_number_5",
            "default": "Change number"
        },

        {
            "type": "image_picker",
            "label": "Card[6] Photo(6)",
            "id": "reviews_photo_6",
            "info": "Select photo 6"
        },
        {
            "type": "image_picker",
            "label": "Card[6] Star(1)",
            "id": "reviews_card6_star1",
            "info": "Select star 1"
        },
        {
            "type": "image_picker",
            "label": "Card[6] Star(2)",
            "id": "reviews_card6_star2",
            "info": "Select star 2"
        },
        {
            "type": "image_picker",
            "label": "Card[6] Star(3)",
            "id": "reviews_card6_star3",
            "info": "Select star 3"
        },
        {
            "type": "image_picker",
            "label": "Card[6] Star(4)",
            "id": "reviews_card6_star4",
            "info": "Select star 4"
        },
        {
            "type": "image_picker",
            "label": "Card[6] Star(5)",
            "id": "reviews_card6_star5",
            "info": "Select star 5"
        },
        {
            "type": "text",
            "label": "Card[6] Author(6)",
            "id": "reviews_author_6",
            "default": "Change name"
        },
        {
            "type": "text",
            "label": "Card[6] Content(6)",
            "id": "reviews_content_6",
            "default": "Change content"
        },
        {
            "type": "text",
            "label": "Card[6] Number(6)",
            "id": "reviews_number_6",
            "default": "Change number"
        },

        {
            "type": "image_picker",
            "label": "Card[7] Photo(7)",
            "id": "reviews_photo_7",
            "info": "Select photo 7"
        },
        {
            "type": "image_picker",
            "label": "Card[7] Star(1)",
            "id": "reviews_card7_star1",
            "info": "Select star 1"
        },
        {
            "type": "image_picker",
            "label": "Card[7] Star(2)",
            "id": "reviews_card7_star2",
            "info": "Select star 2"
        },
        {
            "type": "image_picker",
            "label": "Card[7] Star(3)",
            "id": "reviews_card7_star3",
            "info": "Select star 3"
        },
        {
            "type": "image_picker",
            "label": "Card[7] Star(4)",
            "id": "reviews_card7_star4",
            "info": "Select star 4"
        },
        {
            "type": "image_picker",
            "label": "Card[7] Star(5)",
            "id": "reviews_card7_star5",
            "info": "Select star 5"
        },
        {
            "type": "text",
            "label": "Card[7] Author(7)",
            "id": "reviews_author_7",
            "default": "Change name"
        },
        {
            "type": "text",
            "label": "Card[7] Content(7)",
            "id": "reviews_content_7",
            "default": "Change content"
        },
        {
            "type": "text",
            "label": "Card[7] Number(7)",
            "id": "reviews_number_7",
            "default": "Change number"
        },

        {
            "type": "image_picker",
            "label": "Card[8] Photo(8)",
            "id": "reviews_photo_8",
            "info": "Select photo 8"
        },
        {
            "type": "image_picker",
            "label": "Card[8] Star(1)",
            "id": "reviews_card8_star1",
            "info": "Select star 1"
        },
        {
            "type": "image_picker",
            "label": "Card[8] Star(2)",
            "id": "reviews_card8_star2",
            "info": "Select star 2"
        },
        {
            "type": "image_picker",
            "label": "Card[8] Star(3)",
            "id": "reviews_card8_star3",
            "info": "Select star 3"
        },
        {
            "type": "image_picker",
            "label": "Card[8] Star(4)",
            "id": "reviews_card8_star4",
            "info": "Select star 4"
        },
        {
            "type": "image_picker",
            "label": "Card[8] Star(5)",
            "id": "reviews_card8_star5",
            "info": "Select star 5"
        },
        {
            "type": "text",
            "label": "Card[8] Author(8)",
            "id": "reviews_author_8",
            "default": "Change name"
        },
        {
            "type": "text",
            "label": "Card[8] Content(8)",
            "id": "reviews_content_8",
            "default": "Change content"
        },
        {
            "type": "text",
            "label": "Card[8] Number(8)",
            "id": "reviews_number_8",
            "default": "Change number"
        },

        {
            "type": "image_picker",
            "label": "Card[9] Photo(9)",
            "id": "reviews_photo_9",
            "info": "Select photo 9"
        },
        {
            "type": "image_picker",
            "label": "Card[9] Star(1)",
            "id": "reviews_card9_star1",
            "info": "Select star 1"
        },
        {
            "type": "image_picker",
            "label": "Card[9] Star(2)",
            "id": "reviews_card9_star2",
            "info": "Select star 2"
        },
        {
            "type": "image_picker",
            "label": "Card[9] Star(3)",
            "id": "reviews_card9_star3",
            "info": "Select star 3"
        },
        {
            "type": "image_picker",
            "label": "Card[9] Star(4)",
            "id": "reviews_card9_star4",
            "info": "Select star 4"
        },
        {
            "type": "image_picker",
            "label": "Card[9] Star(5)",
            "id": "reviews_card9_star5",
            "info": "Select star 5"
        },
        {
            "type": "text",
            "label": "Card[9] Author(9)",
            "id": "reviews_author_9",
            "default": "Change name"
        },
        {
            "type": "text",
            "label": "Card[9] Content(9)",
            "id": "reviews_content_9",
            "default": "Change content"
        },
        {
            "type": "text",
            "label": "Card[9] Number(9)",
            "id": "reviews_number_9",
            "default": "Change number"
        },

        {
            "type": "image_picker",
            "label": "Card[10] Photo(10)",
            "id": "reviews_photo_10",
            "info": "Select photo 10"
        },
        {
            "type": "image_picker",
            "label": "Card[10] Star(1)",
            "id": "reviews_card10_star1",
            "info": "Select star 1"
        },
        {
            "type": "image_picker",
            "label": "Card[10] Star(2)",
            "id": "reviews_card10_star2",
            "info": "Select star 2"
        },
        {
            "type": "image_picker",
            "label": "Card[10] Star(3)",
            "id": "reviews_card10_star3",
            "info": "Select star 3"
        },
        {
            "type": "image_picker",
            "label": "Card[10] Star(4)",
            "id": "reviews_card10_star4",
            "info": "Select star 4"
        },
        {
            "type": "image_picker",
            "label": "Card[10] Star(5)",
            "id": "reviews_card10_star5",
            "info": "Select star 5"
        },
        {
            "type": "text",
            "label": "Card[10] Author(10)",
            "id": "reviews_author_10",
            "default": "Change name"
        },
        {
            "type": "text",
            "label": "Card[10] Content(10)",
            "id": "reviews_content_10",
            "default": "Change content"
        },
        {
            "type": "text",
            "label": "Card[10] Number(10)",
            "id": "reviews_number_10",
            "default": "Change number"
        },

        {
            "type": "image_picker",
            "label": "Card[11] Photo(11)",
            "id": "reviews_photo_11",
            "info": "Select photo 11"
        },
        {
            "type": "image_picker",
            "label": "Card[11] Star(1)",
            "id": "reviews_card11_star1",
            "info": "Select star 1"
        },
        {
            "type": "image_picker",
            "label": "Card[11] Star(2)",
            "id": "reviews_card11_star2",
            "info": "Select star 2"
        },
        {
            "type": "image_picker",
            "label": "Card[11] Star(3)",
            "id": "reviews_card11_star3",
            "info": "Select star 3"
        },
        {
            "type": "image_picker",
            "label": "Card[11] Star(4)",
            "id": "reviews_card11_star4",
            "info": "Select star 4"
        },
        {
            "type": "image_picker",
            "label": "Card[11] Star(5)",
            "id": "reviews_card11_star5",
            "info": "Select star 5"
        },
        {
            "type": "text",
            "label": "Card[11] Author(11)",
            "id": "reviews_author_11",
            "default": "Change name"
        },
        {
            "type": "text",
            "label": "Card[11] Content(11)",
            "id": "reviews_content_11",
            "default": "Change content"
        },
        {
            "type": "text",
            "label": "Card[11] Number(11)",
            "id": "reviews_number_11",
            "default": "Change number"
        },

        {
            "type": "image_picker",
            "label": "Card[12] Photo(12)",
            "id": "reviews_photo_12",
            "info": "Select photo 12"
        },
        {
            "type": "image_picker",
            "label": "Card[12] Star(1)",
            "id": "reviews_card12_star1",
            "info": "Select star 1"
        },
        {
            "type": "image_picker",
            "label": "Card[12] Star(2)",
            "id": "reviews_card12_star2",
            "info": "Select star 2"
        },
        {
            "type": "image_picker",
            "label": "Card[12] Star(3)",
            "id": "reviews_card12_star3",
            "info": "Select star 3"
        },
        {
            "type": "image_picker",
            "label": "Card[12] Star(4)",
            "id": "reviews_card12_star4",
            "info": "Select star 4"
        },
        {
            "type": "image_picker",
            "label": "Card[12] Star(5)",
            "id": "reviews_card12_star5",
            "info": "Select star 5"
        },
        {
            "type": "text",
            "label": "Card[12] Author(12)",
            "id": "reviews_author_12",
            "default": "Change name"
        },
        {
            "type": "text",
            "label": "Card[12] Content(12)",
            "id": "reviews_content_12",
            "default": "Change content"
        },
        {
            "type": "text",
            "label": "Card[12] Number(12)",
            "id": "reviews_number_12",
            "default": "Change number"
        },

        {
            "type": "image_picker",
            "label": "Card[13] Photo(13)",
            "id": "reviews_photo_13",
            "info": "Select photo 13"
        },
        {
            "type": "image_picker",
            "label": "Card[13] Star(1)",
            "id": "reviews_card13_star1",
            "info": "Select star 1"
        },
        {
            "type": "image_picker",
            "label": "Card[13] Star(2)",
            "id": "reviews_card13_star2",
            "info": "Select star 2"
        },
        {
            "type": "image_picker",
            "label": "Card[13] Star(3)",
            "id": "reviews_card13_star3",
            "info": "Select star 3"
        },
        {
            "type": "image_picker",
            "label": "Card[13] Star(4)",
            "id": "reviews_card13_star4",
            "info": "Select star 4"
        },
        {
            "type": "image_picker",
            "label": "Card[13] Star(5)",
            "id": "reviews_card13_star5",
            "info": "Select star 5"
        },
        {
            "type": "text",
            "label": "Card[13] Author(13)",
            "id": "reviews_author_13",
            "default": "Change name"
        },
        {
            "type": "text",
            "label": "Card[13] Content(13)",
            "id": "reviews_content_13",
            "default": "Change content"
        },
        {
            "type": "text",
            "label": "Card[13] Number(13)",
            "id": "reviews_number_13",
            "default": "Change number"
        },

        {
            "type": "image_picker",
            "label": "Card[14] Photo(14)",
            "id": "reviews_photo_14",
            "info": "Select photo 14"
        },
        {
            "type": "image_picker",
            "label": "Card[14] Star(1)",
            "id": "reviews_card14_star1",
            "info": "Select star 1"
        },
        {
            "type": "image_picker",
            "label": "Card[14] Star(2)",
            "id": "reviews_card14_star2",
            "info": "Select star 2"
        },
        {
            "type": "image_picker",
            "label": "Card[14] Star(3)",
            "id": "reviews_card14_star3",
            "info": "Select star 3"
        },
        {
            "type": "image_picker",
            "label": "Card[14] Star(4)",
            "id": "reviews_card14_star4",
            "info": "Select star 4"
        },
        {
            "type": "image_picker",
            "label": "Card[14] Star(5)",
            "id": "reviews_card14_star5",
            "info": "Select star 5"
        },
        {
            "type": "text",
            "label": "Card[14] Author(14)",
            "id": "reviews_author_14",
            "default": "Change name"
        },
        {
            "type": "text",
            "label": "Card[14] Content(14)",
            "id": "reviews_content_14",
            "default": "Change content"
        },
        {
            "type": "text",
            "label": "Card[14] Number(14)",
            "id": "reviews_number_14",
            "default": "Change number"
        },
        {
            "type": "image_picker",
            "label": "Card[15] Photo(15)",
            "id": "reviews_photo_15",
            "info": "Select photo 15"
        },
        {
            "type": "image_picker",
            "label": "Card[15] Star(1)",
            "id": "reviews_card15_star1",
            "info": "Select star 1"
        },
        {
            "type": "image_picker",
            "label": "Card[15] Star(2)",
            "id": "reviews_card15_star2",
            "info": "Select star 2"
        },
        {
            "type": "image_picker",
            "label": "Card[15] Star(3)",
            "id": "reviews_card15_star3",
            "info": "Select star 3"
        },
        {
            "type": "image_picker",
            "label": "Card[15] Star(4)",
            "id": "reviews_card15_star4",
            "info": "Select star 4"
        },
        {
            "type": "image_picker",
            "label": "Card[15] Star(5)",
            "id": "reviews_card15_star5",
            "info": "Select star 5"
        },
        {
            "type": "text",
            "label": "Card[15] Author(15)",
            "id": "reviews_author_15",
            "default": "Change name"
        },
        {
            "type": "text",
            "label": "Card[15] Content(15)",
            "id": "reviews_content_15",
            "default": "Change content"
        },
        {
            "type": "text",
            "label": "Card[15] Number(15)",
            "id": "reviews_number_15",
            "default": "Change number"
        }
    ],
    "blocks": [
        {
            "name": "Review Slide",
            "type": "slide",
            "settings": [
                {
                    "type": "select",
                    "id": "media_type",
                    "label": "Media Type",
                    "options": [
                        {
                            "value": "video",
                            "label": "Video"
                        },
                        {
                            "value": "image",
                            "label": "Image"
                        }
                    ],
                    "default": "image"
                },
                {
                    "type": "image_picker",
                    "label": "Review Image",
                    "id": "review_image",
                    "info": "Review Image"
                },
                {
                    "type": "video",
                    "label": "Review Video",
                    "id": "review_video",
                    "info": "Review Video"
                },
                {
                    "type": "select",
                    "id": "rating_amount",
                    "label": "Rating Amount",
                    "options": [
                        {
                            "value": "1",
                            "label": "1"
                        },
                        {
                            "value": "2",
                            "label": "2"
                        },
                        {
                            "value": "3",
                            "label": "3"
                        },
                        {
                            "value": "4",
                            "label": "4"
                        },
                        {
                            "value": "4.5",
                            "label": "4.5"
                        },
                        {
                            "value": "5",
                            "label": "5"
                        }
                    ],
                    "default": "4.5"
                },
                {
                    "type": "text",
                    "label": "Review Person Name",
                    "id": "review_person_name",
                    "default": "Change name"
                },
                {
                    "type": "text",
                    "label": "Review Content",
                    "id": "review_content",
                    "default": "Change content"
                },
                {
                    "type": "text",
                    "label": "Review Number",
                    "id": "review_number",
                    "default": "Change number"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Custom Reviews",
            "category": "Custom",
            "blocks": [
                { "type": "slide"},
                { "type": "slide"}
            ]
        }
    ]
}
{% endschema %}
<script src="{{ 'custom-reviews.js' | asset_url }}" defer="defer"></script>
