{{ 'custom-table.css' | asset_url | stylesheet_tag }}
{{ 'main.css' | asset_url | stylesheet_tag }}

<div class="custom-table">
    <div class="container">
        <div class="custom-table__inner">
            <div class="custom-table__chart">
                <ul>
                    <li class="custom-table__chart--desc" id="productTableInfo">
                        {% if product.metafields.custom.product_table_1 %}
                            <p>{{ product.metafields.custom.product_table_1 }}</p>
                        {% endif %}
                        {% if product.metafields.custom.product_table_2 %}
                            <p>{{ product.metafields.custom.product_table_2 }}</p>
                        {% endif %}
                        {% if product.metafields.custom.product_table_3 %}
                            <p>{{ product.metafields.custom.product_table_3 }}</p>
                        {% endif %}
                        {% if product.metafields.custom.product_table_4 %}
                            <p>{{ product.metafields.custom.product_table_4 }}</p>
                        {% endif %}
                       
                    
                    </li>
                    <li class="custom-table__chart--brand">
                        <p><img width="25" height="25" src="https://cdn.shopify.com/s/files/1/0612/1177/1120/files/table-elipse-red.png?v=1710167008" alt="red" loading='lazy'></p>
                     <p><img width="25" height="25" src="https://cdn.shopify.com/s/files/1/0612/1177/1120/files/table-elipse-red.png?v=1710167008" alt="red" loading='lazy'></p>
                      <p><img width="25" height="25" src="https://cdn.shopify.com/s/files/1/0612/1177/1120/files/table-elipse-red.png?v=1710167008" alt="red" loading='lazy'></p>
                       <p><img width="25" height="25" src="https://cdn.shopify.com/s/files/1/0612/1177/1120/files/table-elipse-red.png?v=1710167008" alt="red" loading='lazy'></p>
                        <div class="custom-table__chart--brand--image">
                            <img width="100" height="100" src="https://cdn.shopify.com/s/files/1/0612/1177/1120/files/1_ba4428bd-8dce-497c-837a-36b55dc9e3ff.png?v=1705481949" alt="1">
                            <h2 class='custom-table__chart--brand--image__logo'>
                              <img width="60" height="20" src="https://cdn.shopify.com/s/files/1/0612/1177/1120/files/logo-table.png?v=1710167208" alt="logo-table" loading='lazy'>
                            </h2>
                        </div>
                    </li>
                    <li class="custom-table__chart--other">
                       <p><img width="25" height="25" src="https://cdn.shopify.com/s/files/1/0612/1177/1120/files/table-ellipse-gray.png?v=1710167008" alt="gray" loading='lazy'></p>
                      <p><img width="25" height="25" src="https://cdn.shopify.com/s/files/1/0612/1177/1120/files/table-ellipse-gray.png?v=1710167008" alt="gray" loading='lazy'></p>
                      <p><img width="25" height="25" src="https://cdn.shopify.com/s/files/1/0612/1177/1120/files/table-ellipse-gray.png?v=1710167008" alt="gray" loading='lazy'></p>
                       <p><img width="25" height="25" src="https://cdn.shopify.com/s/files/1/0612/1177/1120/files/table-ellipse-gray.png?v=1710167008" alt="gray" loading='lazy'></p>
                        <div class="custom-table__chart--other--image">
                            <img width="100" height="100" src="https://cdn.shopify.com/s/files/1/0612/1177/1120/files/2_5c4c5024-a883-465e-93dc-d749bb3e80f1.png?v=1705481950" alt="2">
                            <h2>OTHERS</h2>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="custom-table__cont">
                <h2>Why is EASYFEET so Special?</h2>
                <p>Easyfeet stands out as a unique company due fostering a global environment where top-notch specialists from around the world collaborate to create high-tech, innovative models of orthopedic and specialized insoles.</p>
            </div>
        </div>
    </div>
</div>



{% schema %}
{
  "name": "Custom Table",
  "settings": [
  ],
  "presets": [
    {
      "name": "Custom Table",
      "category": "Custom"
    }
  ]
}
{% endschema %}